/*
================

    FONTS

================
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* 
================

    VARIABLES

================
*/

:root {
    /* Filmflix Color Palette */
    --filmflix-red: #db0000;
    --filmflix-black: #000000;
    --filmflix-white: #ffffff;
    --filmflix-gray: #564d4d;
    --filmflix-dark-red: #831010;

    /* Primary Color Shades [--filmflix-red] */
    --primary-dark-1: #160000;
    --primary-dark-2: #2c0000;
    --primary-dark-3: #420000;
    --primary-dark-4: #580000;
    --primary-dark-5: #6e0000;
    --primary-dark-6: #830000;
    --primary-dark-7: #990000;
    --primary-dark-8: #af0000;
    --primary-dark-9: #c50000;
    --primary: #db0000;
    --primary-light-1: #df1a1a;
    --primary-light-2: #e23333;
    --primary-light-3: #e64d4d;
    --primary-light-4: #e96666;
    --primary-light-5: #ed8080;
    --primary-light-6: #f19999;
    --primary-light-7: #f4b3b3;
    --primary-light-8: #f8cccc;
    --primary-light-9: #fbe6e6;

    /* White --> Black */
    --white: #fff;
    --gray-1: #e6e6e6;
    --gray-2: #cccccc;
    --gray-3: #b3b3b3;
    --gray-4: #999999;
    --gray-5: #808080;
    --gray-6: #666666;
    --gray-7: #4c4c4c;
    --gray-8: #333333;
    --gray-9: #191919;
    --black: #000;

    --dark-theme: #121212;

    /* Green & Red Buttons */
    --green-1: #25bb32;
    --green-2: #6be675;
    --red-1: #bb2525;
    --red-2: #e66b6b;

    /* Fonts */
    --font-primary: 'Poppins', sans-serif;
    --font-secondary: 'Poppins', sans-serif;
    --font-third: 'Inter', sans-serif;
    --font-fourth: 'Montserrat', sans-serif;

    /* Transition */
    --transition: all 0.3s linear;
    --fast-transition: all 0.15s linear;

    /* Other */
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    --max-width: 1170px;
    --orange: rgb(255, 140, 0);
}

/* 
===============

    Global
    Styles

===============
*/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 3px;
    position: absolute;
}

::-webkit-scrollbar-thumb {
    background: var(--filmflix-black);
    border-radius: var(--radius);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--gray-8);
}

::-webkit-scrollbar-track {
    background: var(--gray-7);
}


::-moz-selection {
    background: #ff2d2db2;
}


::selection {
    background: #ff2d2db2;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-secondary);
    background: var(--filmflix-white);
    line-height: 1.5;
    font-size: 0.875rem;
    -webkit-transition: var(--fast-transition);
    -o-transition: var(--fast-transition);
    transition: var(--fast-transition);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    letter-spacing: var(--spacing);
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-family: var(--font-primary);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 0.875rem;
}

p {
    margin-bottom: 1.25rem;
    color: var(--gray-4);
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1rem;
    }

    body {
        font-size: 1rem;
    }

    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }
}

/* 
=================

    Global
    Classes

=================
*/

.container {
    max-width: 1600px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 30px;
}

.logo {
    width: 150px;
    height: auto;
    display: block;
}

.btn {
    border: 0;
    background: transparent;
    font-size: 1.25rem;
    border-radius: var(--radius);
    -webkit-box-shadow: var(--light-shadow);
    box-shadow: var(--light-shadow);
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    font-family: var(--font-primary);
    color: var(--primary);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.btn:hover,
.btn:focus {
    background: var(--primary);
}

.preloader {
    display: -ms-grid;
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
    background: var(--filmflix-black);
    position: fixed;
    z-index: 100;
}

.hide-preloader {
    display: none !important;
    z-index: -100 !important;
}

.text-color-animation {
    -webkit-animation: text-highlight-color 4s infinite;
    animation: text-highlight-color 4s infinite;
}

.delayed-text-color-animation {
    -webkit-animation: text-highlight-color 4s infinite;
    animation: text-highlight-color 4s infinite;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.red-highlight {
    color: var(--primary);
}

.dark-red-highlight {
    color: var(--filmflix-dark-red);
}

.black-highlight {
    color: var(--filmflix-black);
}

.gray-highlight {
    color: var(--gray-4);
}

.orange-highlight {
    color: rgb(255, 179, 0)
}

.green-highlight {
    color: var(--green-1);
}

.hide-element {
    display: none !important;
}

.dark-theme {
    background: var(--dark-theme) !important;
    color: var(--filmflix-white) !important;
    -webkit-box-shadow: var(--dark-shadow) !important;
    box-shadow: var(--dark-shadow) !important;
}

.light-theme {
    background: var(--filmflix-white) !important;
    color: var(--dark-theme) !important;
}

/* Dark Theme */

.dark-theme .info-tab {
    background: var(--dark-theme);
}

.dark-theme .card {
    background: var(--dark-theme);
    -webkit-box-shadow: var(--dark-shadow);
    box-shadow: var(--dark-shadow);
}

.dark-theme .assist p {
    color: var(--filmflix-white);
    -webkit-box-shadow: var(--dark-shadow);
    box-shadow: var(--dark-shadow);
}

.dark-theme .movie-data {
    background: var(--dark-theme);
}

.dark-theme .ratings h3,
.dark-theme .plot-items h3,
.dark-theme .more-info h3 {
    color: var(--filmflix-white);
}

.dark-theme .movie-data-list-title {
    color: var(--filmflix-white) !important;
}

.dark-theme .plot-items p,
.dark-theme .more-info p,
.dark-theme .ratings p {
    color: var(--gray-2);
}

.dark-theme .ratings span {
    color: var(--primary);
}

.dark-theme .input-field {
    color: var(--filmflix-white);
    border: 2px solid var(--filmflix-white);
    border-left: none;
}

.dark-theme .fa-search {
    border: 2px solid var(--filmflix-white);
    border-right: none;
}

.dark-theme::-webkit-input-placeholder {
    color: var(--gray-1);
}

.dark-theme::-moz-placeholder {
    color: var(--gray-1);
}

.dark-theme:-ms-input-placeholder {
    color: var(--gray-1);
}

.dark-theme::-ms-input-placeholder {
    color: var(--gray-1);
}

.dark-theme::placeholder {
    color: var(--gray-1);
}

.dark-theme .dropdown {
    background: var(--dark-theme);
    box-shadow: var(--dark-shadow);
}

.dark-theme .dropdown-item p {
    color: var(--filmflix-white);
}

.dark-theme .dropdown-item:hover {
    background: var(--gray-8);
}

.dark-theme .comparison-item,
.dark-theme .tally-card {
    -webkit-box-shadow: var(--dark-shadow);
    box-shadow: var(--dark-shadow);
}

.dark-theme .content p {
    color: var(--gray-3);
}

/* Navbar */

.navbar {
    background: var(--filmflix-black);
}

.nav-container {
    padding: 15px;
    display: block;
}

.nav-heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.nav-heading .logo {
    -webkit-animation: logo-fly-in .7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: logo-fly-in .7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation-delay: 0.3s;
}

.nav-toggle {
    background: transparent;
    border: 0;
}

.hamburger-menu {
    color: var(--filmflix-white);
    cursor: pointer;
    -webkit-animation: entrance 0.6s ease-out both;
    animation: entrance 0.6s ease-out both;
}

.navigation {
    height: 0;
    overflow: hidden;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.show-links {
    height: 0;
}

.nav-list-item {
    display: block;
    padding: 10px 0px;
    text-align: center;
}

.nav-link {
    color: var(--filmflix-white);
    font-size: 1.1rem;
    padding: 5px 10px;
    border-radius: var(--radius);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    cursor: pointer;
}

.nav-list-item {
    -webkit-animation: nav-fly-in 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: nav-fly-in 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.nav-list-item:first-child {
    animation-delay: 0.3s;
}

.nav-list-item:nth-child(2) {
    animation-delay: .6s;
}

.nav-list-item:nth-child(3) {
    animation-delay: .9s;
}

.nav-list-item:nth-child(4) {
    animation-delay: 1.2s;
}

.nav-list-item:nth-child(5) {
    animation-delay: 1.5s;
}

.nav-link:hover,
.nav-link:focus {
    background: var(--primary);
}

.nav-link:active {
    background: var(--primary-light-4);
}

.active {
    background: var(--primary);
    color: var(--filmflix-white);
}

.active:hover,
.active:focus {
    color: var(--filmflix-black);
}

/* Sidebar */
.sidebar {
    left: 0;
    height: 100vh;
    width: 400px;
    position: fixed;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.9);
    color: var(--filmflix-white);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-box-shadow: var(--light-shadow);
    box-shadow: var(--light-shadow);
}

.sidebar-open {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.sidebar h1 {
    font-size: 2rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 20px auto 0 auto;
    border-bottom: 2px solid var(--primary);
    padding: 6px 0;
}

.toggle-theme {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin: 20px auto 0 auto !important;
    color: var(--primary);
    background: var(--gray-7);
    border: 0;
    cursor: pointer;
}

.dark,
.light {
    display: inline-block;
    padding: 10px 20px;
    width: 70px;
    font-family: var(--font-third);
    font-size: 1rem;
}

.dark {
    background: var(--filmflix-black);
    color: var(--filmflix-white);
}

.light {
    background: var(--filmflix-white);
    color: var(--filmflix-black);
}

.switch {
    top: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    background: var(--primary);
    padding: 10px 20px;
    width: 70px;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.slide {
    left: 50%;
}

/* Landing Section */

.js-scroll {
    opacity: 0;
    transition: opacity, transform 0.5s linear;
    transform: translateX(-300%);
}

.js-scroll.scrolled {
    opacity: 1;
    transform: translateX(0);
}

.scroll-indicator-text {
    color: var(--filmflix-white);
    padding: 8px 20px !important;
    background: var(--primary);
    width: fit-content;
    margin: 0 auto 10px auto !important;
    border-radius: var(--radius);
    cursor: pointer;
}

.banner i {
    animation: arrow 0.8s ease-in both infinite;
    transition: var(--transition);
    animation-delay: 1.2s;
}

.landing {
    height: 60vh;
    color: var(--filmflix-white);
    background: -o-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1)), url(../images/landing.JPEG) center/cover no-repeat;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 1))), url(../images/landing.JPEG) center/cover no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1)), url(../images/landing.JPEG) center/cover no-repeat;
    border-bottom-left-radius: 50em 5%;
    border-bottom-right-radius: 50em 5%;
    -webkit-box-shadow: var(--dark-shadow);
    box-shadow: var(--dark-shadow);
    z-index: 1;
}

.landing-container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.banner {
    display: block;
    text-align: center;
}

.banner h1 {
    -webkit-animation: fly-in .7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: fly-in .7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation-delay: 0.4s;
}

.banner h4 {
    padding: 0px 25px;
}

.banner p:nth-child(2) {
    -webkit-animation: tracking-in-expand .5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand .5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation-delay: 0.8s;
}

.animate-scroll {
    padding: 0 10px;
    -webkit-animation: img-fly-in .7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: img-fly-in .7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation-delay: 0.8s;
}

.landing h1 {
    font-size: 3rem;
}

.landing h1::after {
    content: '';
    height: 2px;
    background: var(--filmflix-dark-red);
    margin: 0 auto;
    width: 200px;
    display: block;
}

.about {
    margin-top: -30px !important;
}

.about,
.about .container,
.about-info,
.about-info h2,
.about-info p,
.about-info button {
    z-index: 2;
}

.about,
.search,
.compare,
.support {
    background: var(--filmflix-white);
    border-radius: var(--radius);
    margin: 0 25px;
    text-align: center;
    -webkit-box-shadow: var(--light-shadow);
    box-shadow: var(--light-shadow);
    max-width: 800px;
    padding: 25px;
    margin-bottom: 5rem;
}

.info-tab {
    padding-bottom: 2rem;
}

.info-tab h2 {
    font-size: 1.7rem;
}

.info-tab h1 {
    margin-bottom: 1rem;
    word-spacing: 0;
}

.redirect {
    color: var(--filmflix-white);
    background: var(--filmflix-red);
}

.redirect:hover {
    color: var(--filmflix-white);
    background: var(--primary-light-4);
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

/* Search Page */
.search-input {
    height: 200px;
    display: -ms-grid;
    display: grid;
    place-items: center;
}

.form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    border-radius: 10px;
}

.searchbar {
    width: 600px;
    border: 1px solid var(--gray-3);
    border-right: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
    -webkit-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear;
}

.searchbar::-webkit-input-placeholder {
    color: var(--filmflix-black);
}

.searchbar::-moz-placeholder {
    color: var(--filmflix-black);
}

.searchbar:-ms-input-placeholder {
    color: var(--filmflix-black);
}

.searchbar::-ms-input-placeholder {
    color: var(--filmflix-black);
}

.searchbar::placeholder {
    color: var(--filmflix-black);
}

.search-btn {
    background: var(--primary);
    color: var(--filmflix-white);
    border: 0;
    padding: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.search-btn:hover,
.search-btn:focus {
    background: var(--primary-light-2);
}

.searchbar,
.search-btn {
    font-size: 1.5rem;
    font-family: var(--font-primary);
}

input:focus {
    outline: none;
}

.assist p {
    font-size: 1.5rem;
    margin: 0;
    color: var(--filmflix-black);
}

.search-results {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 2rem 0;
    min-height: 60vh;
}

.result-card {
    margin: 0 auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
}

.result-card:hover {
    cursor: pointer;
}

.result-card,
.result-card img {
    width: 250px;
    height: 370px;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
}

.result-card:hover,
.result-card:focus {
    -webkit-transform: scale(1.04);
    -ms-transform: scale(1.04);
    transform: scale(1.04);
    -webkit-box-shadow: var(--dark-shadow);
    box-shadow: var(--dark-shadow);
}

.result-card img {
    border-radius: var(--radius);
}

.result-info {
    color: #fff;
    background: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9));
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.9)));
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9));
    padding: 20px;
    border-radius: 0 0 0.25rem 0.25rem;
}

.result-info h4,
.result-info p {
    margin: 0;
}

.result-info h4 {
    color: var(--filmflix-white);
    font-weight: 600;
}

.selected-background {
    display: -ms-grid;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    height: 100vh;
    width: 100vw;
    z-index: 2;
    padding: 25px;
}

.movie-data {
    background: var(--filmflix-white);
    border-radius: var(--radius);
    -webkit-box-shadow: var(--dark-shadow);
    box-shadow: var(--dark-shadow);
    overflow: auto;
    z-index: 5;
    padding-bottom: 30px;
    max-height: 90vh;
}

.movie-data p,
.movie-data h4 {
    margin: 0;
}

.movie-heading {
    padding: 25px 10px;
    background: var(--filmflix-black);
    color: var(--filmflix-white);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.movie-data-details {
    overflow: auto;
}

.top-section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
}

.ratings,
.plot-items {
    margin-top: 10px;
    padding-left: 10px;
}

.ratings {
    padding-right: 10px;
}

.ratings p {
    color: var(--gray-6);
}

.ratings h3,
.plot-items h3,
.more-info h3 {
    padding-bottom: 5px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-bottom: 2px solid var(--primary);
    color: var(--filmflix-black);
}

.plot-items p {
    max-width: 400px;
    color: var(--gray-6);
}

.movie-data-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    margin: 30px 0;
    padding: 0 10px;
}

.movie-list-parent {
    display: inline;
    padding: 10px 15px;
    border: 2px solid var(--gray-2);
    border-bottom: none;
    background: rgba(0, 0, 0, 0.1);
}

.movie-list-parent:first-child {
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
}

.movie-list-parent:last-child {
    border-bottom: 2px solid var(--gray-2);
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
}

.movie-data-list-item {
    margin-bottom: 30px;
}

.movie-data-list-item h4 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto !important;
    border-bottom: 2px solid var(--primary);
    padding-bottom: 2px;
}

.movie-data-list-title {
    text-align: center;
    color: var(--filmflix-black) !important;
}

.movie-data-list-data-item {
    background: var(--filmflix-white);
    color: var(--filmflix-red);
    padding: 10px 20px;
    border-radius: 35px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 20px auto 0 auto !important;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    cursor: pointer;
}

.movie-data-list-data-item:hover,
.movie-data-list-data-item:focus {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-box-shadow: var(--light-shadow);
    box-shadow: var(--light-shadow);
}

.more-info {
    padding-left: 10px;
}

.more-info p {
    color: var(--gray-6);
}

/* Compare */
.grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 0.5rem;
}

.compare-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.input-field {
    padding: 5px;
    border: 2px solid var(--filmflix-black);
    font-family: var(--font-fourth);
    font-size: 1rem;
    color: var(--filmflix-black);
    border-bottom: 2px solid var(--filmflix-black);
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    border-left: none;
    -ms-grid-column-span: 2;
    grid-column: span 2;
    width: 200px;
    background: transparent;
}

.compare-input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.compare-input::-moz-placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.compare-input:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.compare-input::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.compare-input::placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.left-movie,
.right-movie {
    padding: 5px;
    border-radius: var(--radius);
    transition: var(--transition);
    margin: 15px;
}

.left-movie {
    transform: translateX(-400%);
}

.right-movie {
    transform: translateX(400%);
}

.movie-move {
    transform: translateX(0);
}

.assist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 25px;
}

.assist p {
    text-align: center;
    padding: 20px;
    border-radius: var(--radius);
    -webkit-box-shadow: var(--light-shadow);
    box-shadow: var(--light-shadow);
    font-size: 1.05rem;
}

.assist .dark-theme {
    -webkit-box-shadow: var(--dark-shadow);
    box-shadow: var(--dark-shadow);
}

.left-search,
.right-search {
    margin-top: 25px;
}

.fa-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center;
    padding: 15px;
    border: 2px solid var(--filmflix-black);
    border-right: none;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    color: var(--filmflix-red);
}

.dropdown {
    display: none;
    overflow: hidden;
    margin: 0 auto;
    left: 0;
    right: 0;
    -webkit-box-shadow: var(--light-shadow);
    box-shadow: var(--light-shadow);
    padding: 5px;
    background: var(--filmflix-white);
    position: absolute;
    z-index: 5;
}

.dropdown-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 2px 0;
    cursor: pointer;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.dropdown-item:hover,
.dropdown-item:focus {
    background: rgb(233, 233, 233);
}

.dropdown-item img {
    width: 50px;
    height: auto;
}

.dropdown-item p {
    margin-left: 5px;
    margin-bottom: 0;
}

.open-dropdown {
    display: block;
}

.content p {
    font-family: var(--font-third) !important;
}

.content h1 {
    font-size: 1.75rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-bottom: 5px;
    border-bottom: 3px solid var(--primary);
}

.comparison-items-container {
    margin-top: 1rem;
}

.comparison-item {
    padding: 15px;
    margin-bottom: 1rem;
    border-radius: var(--radius);
    -webkit-box-shadow: var(--light-shadow);
    box-shadow: var(--light-shadow);
    transition: var(--transition);
}

.comparison-item p {
    font-family: var(--font-secondary);
    font-size: 0.85rem;
    margin: 0;
}

.comparison-item:nth-child(2) {
    margin-top: 1rem;
}

.comparison-default {
    background: var(--gray-1);
}

.comparison-default p {
    color: var(--filmflix-black);
}

.comparison-default p:nth-child(1) {
    margin-bottom: 10px;
}

.comparison-win {
    background: var(--green-1);
}

.comparison-win p {
    color: var(--filmflix-white);
}

.comparison-loss {
    background: var(--primary);
}

.comparison-loss p {
    color: var(--filmflix-white);
}

.comparison-tie {
    background: var(--orange);
}

.comparison-tie p {
    color: var(--filmflix-black);
}

.movie-info {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 1fr;
    grid-template-columns: auto 1fr;
}

.right-movie .movie-info {
    margin-top: 50px;
}

.movie-img img {
    width: 150px;
    height: auto;
    display: block;
    -webkit-box-shadow: var(--light-shadow);
    box-shadow: var(--light-shadow);
    border-radius: var(--radius);
}

.movie-img-container {
    -ms-grid-column-span: 2;
    grid-column: span 2;
    margin: 0 auto;
}

.movie-details {
    padding-left: 5px;
    -ms-grid-column-span: 2;
    grid-column: span 2;
}

.movie-details .content {
    margin-top: 1rem;
}

.movie-details .content h1 {
    font-size: 1.1rem;
}

.content p {
    color: var(--gray-8);
}

.not-found {
    padding: 15px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 1rem auto;
    text-align: center;
    background: var(--primary-light-4);
    border-radius: var(--radius);
    -webkit-box-shadow: var(--light-shadow);
    box-shadow: var(--light-shadow);
}

.not-found p {
    color: var(--filmflix-white);
    margin-bottom: 0 !important;
}

.tally-card {
    padding: 15px;
    text-align: center;
    border-radius: var(--radius);
    -webkit-box-shadow: var(--light-shadow);
    box-shadow: var(--light-shadow);
    margin-bottom: 1.5rem;
    transition: var(--transition);
}

.tally-card p {
    color: var(--filmflix-white);
    font-weight: 600;
    margin: 0;
    font-size: 1.25rem;
}

.movie-win {
    background: rgb(94, 255, 107);
}

.movie-tie {
    background: rgb(255, 196, 88);
}

.movie-loss {
    background: rgb(255, 108, 108);
}

/* About Page */
.about-landing,
.compare-landing {
    min-height: 60vh;
    background: var(--filmflix-black);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.about-grid,
.compare-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 1rem;
}

.about-text,
.compare-grid {
    color: var(--filmflix-white);
    padding: 25px 25px;
}

.about-text h1,
.compare-text h1 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-bottom: 2px solid var(--primary);
    padding-bottom: 8px;
    -webkit-animation: tracking-in-expand .7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand .7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.about-text p,
.compare-text p {
    -webkit-animation: fly-in .7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: fly-in .7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
    max-width: 400px;
    margin: 0;
}

.about-landing figure,
.compare-landing figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-animation: img-fly-in .7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: img-fly-in .7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
    padding: 25px 0px;
}

.about-landing figure img,
.compare-landing figure img {
    width: 400px;
    -webkit-box-shadow: 25px 25px 0px #090909;
    box-shadow: 25px 25px 0px #090909;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    cursor: pointer;
}

.about-landing figure img:hover,
.compare-landing figure img:hover {
    -webkit-transform: translateY(-3%);
    -ms-transform: translateY(-3%);
    transform: translateY(-3%);
}

/* Footer */
.footer {
    width: 100%;
    background: var(--filmflix-black);
    color: var(--filmflix-white);
    margin-top: 5rem;
    border-top-left-radius: 50em 5%;
    border-top-right-radius: 50em 5%;
    -webkit-box-shadow: var(--dark-shadow);
    box-shadow: var(--dark-shadow);
}

.footer-container {
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    max-width: 1600px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    padding: 25px;
    text-align: center;
}

.footer-container .logo {
    margin: 0 auto;
}

.footer-list {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 40px;
}

.footer-list h3 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    border-bottom: 1px solid var(--filmflix-red);
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
}

.footer-link {
    color: var(--filmflix-white);
    padding: 5px 10px;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    border-radius: var(--radius);
}

.footer-link:hover,
.footer-link:focus {
    background: var(--primary);
}

.footer-list-item {
    padding: 2px;
    margin-bottom: 5px;
}

.footer-rights {
    text-align: center;
    padding: 25px;
    margin: 0;
}

/* Animations */
@keyframes entrance {
    0% {
        -webkit-transform: rotate(-540deg) scale(0);
        transform: rotate(-540deg) scale(0);
    }

    100% {
        -webkit-transform: rotate(-540deg) scale(0);
        transform: rotate(0) scale(1);
    }
}

@-webkit-keyframes entrance {
    0% {
        -webkit-transform: rotate(-540deg) scale(0);
        transform: rotate(-540deg) scale(0);
    }

    100% {
        -webkit-transform: rotate(-540deg) scale(0);
        transform: rotate(0) scale(1);
    }
}

@keyframes text-highlight-color {
    0% {
        color: var(--filmflix-white);
    }

    50% {
        color: var(--filmflix-red);
    }

    100% {
        color: var(--filmflix-white);
    }
}

@-webkit-keyframes text-highlight-color {
    0% {
        color: var(--filmflix-white);
    }

    50% {
        color: var(--filmflix-red);
    }

    100% {
        color: var(--filmflix-white);
    }
}

@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fly-in {
    0% {
        -webkit-transform: translateX(-400%);
        transform: translateX(-400%);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fly-in {
    0% {
        -webkit-transform: translateX(-400%);
        transform: translateX(-400%);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@-webkit-keyframes img-fly-in {
    0% {
        -webkit-transform: translateX(400%);
        transform: translateX(400%);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes img-fly-in {
    0% {
        -webkit-transform: translateX(400%);
        transform: translateX(400%);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@-webkit-keyframes logo-fly-in {
    0% {
        -webkit-transform: translateX(-400%);
        transform: translateX(-400%);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes logo-fly-in {
    0% {
        -webkit-transform: translateX(-400%);
        transform: translateX(-400%);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes nav-fly-in {
    0% {
        -webkit-transform: translateX(800%);
        transform: translateX(800%);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes nav-fly-in {
    0% {
        -webkit-transform: translateX(800%);
        transform: translateX(800%);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes arrow {
    0% {
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
    }

    50% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
    }
}

@keyframes arrow {
    0% {
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
    }

    50% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
    }
}

/* Media Queries [Largest --> Smallest] */
@media screen and (min-width: 1350px) {
    .search-results {
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: repeat(5, 1fr);
    }
}

@media screen and (max-width: 1350px) {
    .search-results {
        -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: repeat(4, 1fr);
    }

    .about-landing .container,
    .compare-landing .container {
        padding: 25px 25px;
    }

    .about-landing figure img,
    .compare-landing figure img {
        width: 500px !important;
    }
}

@media screen and (max-width: 1090px) {
    .search-results {
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: repeat(3, 1fr);
    }

    .about-text p,
    .compare-text p {
        max-width: 400px !important;
    }
}

@media screen and (max-width: 980px) {

    .about-landing figure img,
    .compare-landing figure img {
        width: 450px !important;
    }
}

@media screen and (max-width: 980px) {

    .about-landing figure img,
    .compare-landing figure img {
        width: 400px !important;
    }

    .about-grid,
    .compare-grid {
        gap: 2rem;
    }
}

@media screen and (max-width: 805px) {
    .search-results {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 750px) {
    .searchbar {
        width: 400px;
    }
}

@media screen and (max-width: 550px) {
    .search-results {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .searchbar {
        width: 250px;
    }
}

@media screen and (max-width: 465px) {

    .about-landing figure img,
    .compare-landing figure img {
        width: 300px !important;
        box-shadow: 15px 15px 0px #090909;
    }
}

@media screen and (max-width: 400px) {
    .search-input {
        height: 125px;
    }

    .searchbar {
        font-size: 1rem;
        width: 200px;
    }

    .search-btn {
        font-size: 1rem;
    }

    .movie-heading {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 0.5rem;
    }
}

@media screen and (max-width: 350px) {

    .about-grid,
    .compare-grid {
        gap: 0.5rem;
    }

    .about-landing figure img,
    .compare-landing figure img {
        width: 250px !important;
    }
}

@media screen and (max-width: 320px) {

    .about-text h1,
    .compare-text h1 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 310px) {
    .search-btn {
        padding: 10px;
    }

    .searchbar {
        width: 150px;
    }
}

@media screen and (min-width: 1150px) {
    .content {
        margin-top: 0;
    }

    .content p {
        font-size: 1.1rem !important;
    }

    .content h1 {
        font-size: 1.5rem !important;
    }

    .comparison-item p {
        font-size: 1.1rem;
    }

    .footer-list {
        margin-left: 50px;
    }
}

@media screen and (min-width: 800px) {
    /* Global */

    .container {
        padding: 0;
    }

    .navigation {
        height: auto !important;
    }

    .nav-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .nav-toggle {
        display: none;
    }

    .nav-links-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .nav-list-item {
        margin-left: 20px;
    }

    .nav-list-item:nth-child(1) {
        margin-left: 0;
    }

    .landing {
        height: 60vh;
    }

    .banner h1 {
        font-size: 7rem;
    }

    /* Home */

    .about,
    .search,
    .compare,
    .support {
        margin: 0 auto;
    }

    .about {
        margin-top: -50px !important;
    }

    .search,
    .compare,
    .support {
        margin-top: 5rem;
    }

    .info-tab h2 {
        font-size: 2rem;
    }

    /* Search */

    .assist p {
        font-size: 1.4rem;
    }

    .top-section {
        -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    }

    .movie-data-list {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .movie-list-parent {
        border-left: none;
        border-bottom: 2px solid var(--gray-2);
    }

    .movie-list-parent:first-child {
        border-radius: 0;
        border-left: 2px solid var(--gray-2);
        border-bottom-left-radius: var(--radius);
        border-top-left-radius: var(--radius);
    }

    .movie-list-parent:last-child {
        border-radius: 0;
        border-top-right-radius: var(--radius);
        border-bottom-right-radius: var(--radius);
        border-left: none;
    }

    /* Compare */

    #compare .banner h1::after {
        margin-top: 20px;
        width: 400px;
    }

    .grid-container {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .input-field {
        width: 250px;
    }

    .left-search,
    .right-search {
        position: relative;
    }

    .left-movie,
    .right-movie {
        min-height: 1000px;
    }

    .right-movie .movie-info {
        margin-top: 0;
    }

    .movie-details {
        -ms-grid-column-span: 1;
        grid-column: span 1;
        padding-left: 20px;
    }

    .content p {
        font-size: 0.8rem;
    }

    .movie-img img {
        width: 175px;
    }

    .movie-img-container {
        -ms-grid-column-span: 1;
        grid-column: span 1;
    }

    /* About */
    .about-grid,
    .compare-grid {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .compare-text p {
        max-width: 650px;
    }

    .about-landing figure img,
    .compare-landing figure img {
        width: 600px;
    }

    .footer-container {
        -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .footer-list {
        border-right: 1px solid var(--gray-6);
        text-align: left;
        padding: 25px;
        margin-bottom: 0;
    }

    .footer-list h3 {
        color: var(--filmflix-red);
        display: block;
        border: 0;
        margin: 0;
    }

    .footer-link {
        margin-left: -10px;
    }

    .footer-link:hover,
    .footer-link:focus {
        margin-left: 0;
    }

    .footer-container .logo {
        margin: 0;
        -ms-grid-row-align: center;
        -ms-grid-column-align: center;
        place-self: center;
    }
}

@media screen and (max-width: 800px) {
    .footer-container {
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .footer-container .logo {
        -ms-grid-row-align: center;
        align-self: center;
        -ms-grid-column-span: 3;
        grid-column: span 3;
    }
}

@media screen and (max-width: 500px) {
    .footer-container {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .footer-container .logo {
        -ms-grid-row-align: center;
        align-self: center;
        -ms-grid-column-span: 1;
        grid-column: span 1;
    }
}